<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
     xmlns:util="http://schemas.microsoft.com/wix/UtilExtension">

  <Product Id="*" Name="!(loc.ApplicationTitle)" Language="1033" Version="01.191.20.2" Manufacturer="!(loc.ManufacturerName)" UpgradeCode="87c8aa64-1a84-4767-ae17-a4b6b6ee1b89">
    <Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />
    <!-- DOS 8.3 Format required for cab filenames. -->
    <Media Id="1" Cabinet="SEToolbx.cab" EmbedCab="yes" />
    
    <WixVariable Id="WixUILicenseRtf" Value="License.rtf" />
    <WixVariable Id="WixUIBannerBmp" Value="WixUIBannerBmp.bmp" />
    <WixVariable Id="WixUIDialogBmp" Value="WixUIDialogBmp.bmp" />

    <Upgrade Id="87c8aa64-1a84-4767-ae17-a4b6b6ee1b89">
      <!-- Ignore the ICE61 warning.
      Maximum version is 99.0.0.0 because users may be forced to regress and install an older version, just incase a new release is screwed up! -->
      <UpgradeVersion Minimum="1.0.0.0" Maximum="99.0.0.0" Property="PREVIOUSVERSIONSINSTALLED" IncludeMinimum="yes" IncludeMaximum="no" />
    </Upgrade>

    <CustomAction Id="Install" Directory="APPLICATIONFOLDER"
              Execute="deferred" Impersonate="no" Return="ignore"
              ExeCommand="[APPLICATIONFOLDER]SEToolboxUpdate.exe -i" />

    <CustomAction Id="Uninstall" Directory="APPLICATIONFOLDER"
                  Execute="deferred" Impersonate="no" Return="ignore"
                  ExeCommand="[APPLICATIONFOLDER]SEToolboxUpdate.exe -u" />
    
    <InstallExecuteSequence>
      <RemoveExistingProducts After="InstallInitialize" />
      <Custom Action='Install' After='InstallFiles'>NOT REMOVE</Custom>
      <Custom Action='Uninstall' After='InstallInitialize'>Installed AND (REMOVE = "ALL")</Custom>
    </InstallExecuteSequence>

    <Feature Id="ProductFeature" Title="!(loc.DirApplicationName)" Level="1">
      <ComponentGroupRef Id="ProductComponents" />
      <!--<ComponentGroupRef Id="SEComponents" />-->
    </Feature>

    <Icon Id="APPLICATIONICON" SourceFile="app.ico"/>

    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFilesFolder">
        <Directory Id="COMPANYFOLDER" Name="!(loc.DirCompanyName)">
          <Directory Id="APPLICATIONFOLDER" Name="!(loc.DirApplicationName)">
            <Component Id="UninstallAppFolder" Guid="6AF1643F-8251-4FAE-A2AF-F3BB96FC931A">
              <CreateFolder />
              <RemoveFile Id="PurgeAppFolder" Name="*.*" On="uninstall" />

              <RemoveFile Id="fileB618365481BD47F5A21AA2A60F2C9AA4" Name="HavokWrapper.dll" On="install"/>
              <RemoveFile Id="fileB21632CF25FB4FF5BDFD6291AFF251EA" Name="protobuf-net.dll" On="install"/>
              <RemoveFile Id="file61275B9FC2AE484BA7A2BDB7459A3647" Name="Sandbox.Common.dll" On="install"/>
              <RemoveFile Id="file9BC4F4C590AF4888B721F2301140EB5A" Name="Sandbox.Game.dll" On="install"/>
              <RemoveFile Id="fileF53B8732F7FD45BFA790800540A31B31" Name="Sandbox.Game.XmlSerializers.dll" On="install"/>
              <RemoveFile Id="file882FC5E56A994EC1AFBBCBA50226393C" Name="Sandbox.Graphics.dll" On="install"/>
              <RemoveFile Id="file350A25B55AB34B0EB1F6C2870FC13297" Name="Sandbox.RenderDirect.dll" On="install"/>
              <RemoveFile Id="file25850DB516724E6BB45D499D5A4BCF94" Name="SharpDX.dll" On="install"/>
              <RemoveFile Id="file170AA38F975C47B3A6976B9C5A1983AB" Name="SharpDX.Direct2D1.dll" On="install"/>
              <RemoveFile Id="file75CA1B95DC784AE9A526AB6F98D747ED" Name="SharpDX.Direct3D11.dll" On="install"/>
              <RemoveFile Id="file53171AEF32B14464A6BC226D334A3BF6" Name="SharpDX.DXGI.dll" On="install"/>
              <RemoveFile Id="file3941098F688247798E7755FC8B2D18B7" Name="SpaceEngineers.Game.dll" On="install"/>
              <RemoveFile Id="fileA10D59ED71944ED7BD52C144A05A59A3" Name="SpaceEngineers.ObjectBuilders.dll" On="install"/>
              <RemoveFile Id="fileAF60B61F742940E7B68F86C3410E730C" Name="SpaceEngineers.ObjectBuilders.XmlSerializers.dll" On="install"/>
              <RemoveFile Id="file0B63627F3DDC47E58FB0BCCB65B110BC" Name="steam_api64.dll" On="install"/>
              <RemoveFile Id="file3825B7010D1546EBBC17BBD388A9CB08" Name="Steamworks.NET.dll" On="install"/>
              <RemoveFile Id="fileEA4AE319577E449E9D1DF59BC1B6D3F0" Name="VRage.dll" On="install"/>
              <RemoveFile Id="file19B8CCCE91F040CCB983B44C7334821A" Name="VRage.Ansel.dll" On="install"/>
              <RemoveFile Id="file34F2B15981F041C7A1EB6FCF29C72BC1" Name="VRage.Audio.dll" On="install"/>
              <RemoveFile Id="file0F16284F3E2D4C5CA5402B757C4951D1" Name="VRage.Game.dll" On="install"/>
              <RemoveFile Id="fukeD6616ECAB0004D46AE4DBA393C53F0ED" Name="VRage.Game.XmlSerializers.dll" On="install"/>
              <RemoveFile Id="file243D900CAA114FE2AB44B51CEE7840E2" Name="VRage.Input.dll" On="install"/>
              <RemoveFile Id="file3B25B4B8D8824BFBBC59FF95EB66E88F" Name="VRage.Library.dll" On="install"/>
              <RemoveFile Id="file97E0990BBDDF40A68ED535BF1D64AF8E" Name="VRage.Math.dll" On="install"/>
              <RemoveFile Id="file7EB6EBCDF35A45D489E0E5C15A781571" Name="VRage.Native.dll" On="install"/>
              <RemoveFile Id="file9FD225BE9EE341EDA625425997A2258C" Name="VRage.NativeWrapper.dll" On="install"/>
              <RemoveFile Id="file992F750DB5744F849111CEA39D0CB16F" Name="VRage.Render.dll" On="install"/>
              <RemoveFile Id="fileFCCDCA64927F4EEDB783F6D983838557" Name="VRage.Render11.dll" On="install"/>
              <RemoveFile Id="file907C5A94D3964E7C86FF6FD07B8A46EA" Name="System.Data.SQLite.dll" On="install"/>
              <RemoveFile Id="fileCC613947DC824B6096558AAF65499872" Name="netstandard.dll" On="install"/>
              <RemoveFile Id="file0038C98A0ED9448CBBCC6B0E1431B0E4" Name="System.Memory.dll" On="install"/>
              <RemoveFile Id="file90F8B278BC254F369682B67A11C83189" Name="System.Runtime.CompilerServices.Unsafe.dll" On="install"/>

              <!-- Optional files. As these may not be in the Dedicated Server deployment. -->
              <RemoveFile Id="fileBB8CDBE0025D4F299FF4F0FC84996D5A" Name="msvcp120.dll" On="install"/>
              <RemoveFile Id="file8F379924D24745828B0013B8E95CAD54" Name="msvcr120.dll" On="install"/>

              <!--Obsolete. To be removed in the future. Retained temporarily for the installer to cleanup. -->
              <RemoveFile Id="file26225324B8BC443AB0B4DE7161E48FCF" Name="SteamSDK.dll" On="install"/>
              <RemoveFile Id="file4CCC1D5F89354510910F24ECF6734F72" Name="ICSharpCode.SharpZipLib.dll" On="install"/>
              <RemoveFile Id="file80CFE451E8C94A27840BE5E85B4742B2" Name="VRage.OpenVRWrapper.dll" On="install"/>

              <RegistryKey Root="HKLM" Key="Software\MidSpace\SEToolbox">
                <RegistryValue Id="SEToolboxRegInstallDir" Type="string" Name="InstallDir" Value="[APPLICATIONFOLDER]" />
              </RegistryKey>
            </Component>

            <!-- ### Uncomment to package satellite resource in .MSI  --> 
            <!--
            <Directory Id='localeDirectoryZH' Name='zh'>
              <Component Id='localeComponentZH' Guid='2598AD91-A20F-4D9B-A465-1C6D3E8CA941'>
                <CreateFolder />
                <File Id='localeFileZH' Name='SEToolbox.resources.dll' Source='$(var.SEToolbox.TargetDir)\zh\SEToolbox.resources.dll' DiskId='1' />
                <File Id='localeFileUpdateZH' Name='SEToolboxUpdate.resources.dll' Source='$(var.SEToolbox.TargetDir)\zh\SEToolboxUpdate.resources.dll' DiskId='1' />
              </Component>
            </Directory>
            -->
            <Directory Id='localeDirectoryDE' Name='de'>
              <Component Id='localeComponentDE' Guid='12B7F102-2FCE-40D2-A8D4-DEF002675989'>
                <CreateFolder />
                <File Id='localeFileDE' Name='SEToolbox.resources.dll' Source='$(var.SEToolbox.TargetDir)\de\SEToolbox.resources.dll' DiskId='1' />
                <File Id='localeFileUpdateDE' Name='SEToolboxUpdate.resources.dll' Source='$(var.SEToolbox.TargetDir)\de\SEToolboxUpdate.resources.dll' DiskId='1' />
              </Component>
            </Directory>

          </Directory>
        </Directory>
      </Directory>
      <Directory Id="ProgramMenuFolder">
        <Directory Id="COMPANYPROGRAMFOLDER" Name="!(loc.DirCompanyName)">
          <Directory Id="ApplicationProgramsFolder" Name="!(loc.DirApplicationName)"/>
        </Directory>
      </Directory>
    </Directory>

    <!-- UI -->
    <!--<UIRef Id="WixUI_CustomInstallDir" />-->
    <UI>
      <UIRef Id="WixUI_InstallDir" />
      <UIRef Id="WixUI_Common" />
      <UIRef Id="WixUI_ErrorProgressText" />
      <Publish Dialog="ExitDialog" Control="Finish" Event="DoAction" Value="LaunchApplication">WIXUI_EXITDIALOGOPTIONALCHECKBOX = 1 and NOT Installed</Publish>
    </UI>

    <Property Id="WIXUI_INSTALLDIR" Value="APPLICATIONFOLDER"/>
    <Property Id="ARPPRODUCTICON" Value="APPLICATIONICON" />
    <Property Id="APPLICATIONFOLDER">
      <RegistrySearch Id='SEToolboxRegistry' Type='raw' Root='HKLM' Key='Software\MidSpace\SEToolbox' Name='InstallDir' />
    </Property>
    <Property Id="WIXUI_EXITDIALOGOPTIONALCHECKBOXTEXT" Value="!(loc.LaunchProductOnFinish)" />
    <Property Id="WIXUI_EXITDIALOGOPTIONALCHECKBOX" Value="1" />
    <Property Id="WixShellExecTarget" Value="[#file184705D6F44643D48E157FDD3FBF37D7]" />
    <CustomAction Id="LaunchApplication" BinaryKey="WixCA" DllEntry="WixShellExec" Impersonate="yes" />

    <!-- All Files, except the .config -->
    <ComponentGroup Id="ProductComponents" Directory="APPLICATIONFOLDER">
      <!-- Core applications files -->
      <Component Id="comp2EA1FC447B50410DA2CE55F182C0E00C">
        <File Id="file184705D6F44643D48E157FDD3FBF37D7" Source="$(var.SEToolbox.TargetDir)SEToolbox.exe" Checksum="yes"/>
      </Component>
      <Component Id="comp774C385B4B294223BF9B6E616D46D59B">
        <File Id="file9DBBFEB0CF9A43829CE656E02509FEA6" Source="$(var.SEToolbox.TargetDir)SEToolbox.pdb"/>
      </Component>
      <Component Id="comp6BB6C5C0D9A0473D8FDD4DBE5744C093">
        <File Id="file1B0A6AE8617640669E830BEF810A5047" Source="$(var.SEToolbox.TargetDir)SEToolbox.exe.config" Checksum="yes"/>
      </Component>
      <Component Id="comp12068FFAF2EB4772A897CB41720E056F">
        <File Id="file64DEAD08B7A14DCCAD1984564BC6EA1C" Source="$(var.SEToolbox.TargetDir)SEToolboxUpdate.exe"/>
      </Component>
      <Component Id="compD92E196604CA4CDBB739699BCB446CAE">
        <File Id="fileA1ED1B028B6F45868D48799D4DDE0D94" Source="$(var.SEToolbox.TargetDir)SEToolbox.ImageLibrary.dll"/>
      </Component>
      <Component Id="compA66C0B6FB6834A2A8140C5FC2039296B">
        <File Id="file82AB916AB2C147F5A839E3EC2DDA7993" Source="$(var.SEToolbox.TargetDir)SEToolbox.ImageShaders.dll"/>
      </Component>

      <!-- Third party dependancies -->
      <Component Id="comp5B10E5BF2D0D4C9EAF44EDE183D113EF">
        <File Id="fileAD5B37B3F8524F6594A80B1BF9660D69" Source="$(var.SEToolbox.TargetDir)HelixToolkit.Wpf.dll"/>
      </Component>
      <Component Id="comp5F8887E0899A41C3BD1CEDFFC18A4FD1">
        <File Id="file1E207785088F43BABB001B75AA97C567" Source="$(var.SEToolbox.TargetDir)log4net.dll"/>
      </Component>
      <Component Id="comp37F2C1F3120D4F27ACBCD463E74794B1">
        <File Id="fileF6959F2F15644AE8835534076E469AB3" Source="$(var.SEToolbox.TargetDir)Octokit.dll"/>
      </Component>
      <Component Id="comp4FF0A2172F244A5FA36AE80475BE0F8E">
        <File Id="file97FBC095E9A34E86AA664F4C5C9967B7" Source="$(var.SEToolbox.TargetDir)System.Windows.Interactivity.dll"/>
      </Component>
      <Component Id="compA84A9E7C0EE44549B216E475CC31B6F8">
        <File Id="file5CE9E6AE20354095A45A284E93837728" Source="$(var.SEToolbox.TargetDir)WPFLocalizeExtension.dll"/>
      </Component>
      <Component Id="comp63AE692DD51247CC90A281069BF96AFA">
        <File Id="fileA9B194FD13214474A2B8004200CF42CD" Source="$(var.SEToolbox.TargetDir)XAMLMarkupExtensions.dll"/>
      </Component>
    </ComponentGroup>

    <!-- Space Engineers dependancies -->
    <!--<ComponentGroup Id="SEComponents" Directory="APPLICATIONFOLDER">
      <Component Id="comp88066F31283E44A79F1D679F4B9D80AE">
        <File Id="file61275B9FC2AE484BA7A2BDB7459A3647" Source="$(var.SEToolbox.TargetDir)Sandbox.Common.dll"/>
      </Component>
      <Component Id="compB0198B4AB39348F5B20741B39BD36F84">
        <File Id="file7EFAAE0C91A74E6D9BB6541C081E757C" Source="$(var.SEToolbox.TargetDir)Sandbox.Common.XmlSerializers.dll"/>
      </Component>
      <Component Id="comp8C20AE654FFF46DA894F7056064AA6EF">
        <File Id="fileDE67BBEC95CE4178B5B7A4AE5101E6FC" Source="$(var.SEToolbox.TargetDir)VRage.Common.dll"/>
      </Component>
      <Component Id="comp826C90B9476943B8B8114031A01913F1">
        <File Id="file3B25B4B8D8824BFBBC59FF95EB66E88F" Source="$(var.SEToolbox.TargetDir)VRage.Library.dll"/>
      </Component>
      <Component Id="compD71C446C9E204CD7A003FA06132E67BE">
        <File Id="file97E0990BBDDF40A68ED535BF1D64AF8E" Source="$(var.SEToolbox.TargetDir)VRage.Math.dll"/>
      </Component>
    </ComponentGroup>-->

    <DirectoryRef Id="ApplicationProgramsFolder">
      <Component Id="ApplicationShortcut">
        <!-- Application shortcuts -->
        <Shortcut Id="ApplicationStartMenuShortcut"
                  Name="!(loc.ShortcutName)"
                  Description="!(loc.ShortcutDescription)"
                  Target="[APPLICATIONFOLDER]SEToolbox.exe"
                  WorkingDirectory="APPLICATIONFOLDER"/>
        <!--<Shortcut Id="ApplicationStartMenuShortcutOld"
                  Name="!(loc.OldDllShortcutName)"
                  Description="!(loc.OldDllShortcutDescription)"
                  Target="[APPLICATIONFOLDER]SEToolbox.exe"
                  Arguments="/OLDDLL"
                  WorkingDirectory="APPLICATIONFOLDER"/>-->
        <RemoveFolder Id="ApplicationProgramsFolder" On="uninstall"/>
        <RemoveFolder Id="RemoveProgramMenuDir" Directory='COMPANYPROGRAMFOLDER' On='uninstall' />
        <!-- Application registry -->
        <RegistryValue Root="HKCU" Key="Software\!(loc.DirCompanyName)\!(loc.DirApplicationName)" Name="installed" Type="integer" Value="1" KeyPath="yes"/>
        <RegistryValue Root="HKCU" Key="Software\!(loc.DirCompanyName)\!(loc.DirApplicationName)" Name="InstallLanguage" Type="string" Value="!(loc.InstallLanguage)" />
      </Component>
    </DirectoryRef>

    <Feature Id="MainApplication" Title="Main Application" Level="1">
      <ComponentRef Id="comp2EA1FC447B50410DA2CE55F182C0E00C" />
      <ComponentRef Id="ApplicationShortcut" />
      <ComponentRef Id="UninstallAppFolder"/>
      <!-- ### Uncomment to package satellite resource in .MSI  -->
      <!--
      <ComponentRef Id="localeComponentZH" />
      -->
      <ComponentRef Id="localeComponentDE" />
    </Feature>
  </Product>

  <Fragment>
    <UI Id="WixUI_CustomInstallDir">
      <!--<Dialog Id="ProductServerDlg" Width="370" Height="270" Title="!(loc.ProductServerDlg_Title)">
        <Control Id="BannerBitmap" Type="Bitmap" X="0" Y="0" Width="370" Height="44" TabSkip="no" Text="!(loc.InstallDirDlgBannerBitmap)" />
        <Control Id="BannerLine" Type="Line" X="0" Y="44" Width="370" Height="0" />
        <Control Id="BottomLine" Type="Line" X="0" Y="234" Width="370" Height="0" />
        <Control Id="Description" Type="Text" X="25" Y="23" Width="280" Height="15" Transparent="yes" NoPrefix="yes" Text="!(loc.ProductServerDlgDescription)" />
        <Control Id="Title" Type="Text" X="15" Y="6" Width="200" Height="15" Transparent="yes" NoPrefix="yes" Text="!(loc.ProductServerDlgTitle)" />


        <Control Id="Back" Type="PushButton" X="180" Y="243" Width="56" Height="17" Text="!(loc.WixUIBack)" />
        <Control Id="Next" Type="PushButton" X="236" Y="243" Width="56" Height="17" Default="yes" Text="!(loc.WixUINext)">
          <Publish Event="SpawnWaitDialog" Value="WaitForCostingDlg">!(wix.WixUICostingPopupOptOut) OR CostingComplete = 1</Publish>
          <Condition Action="disable"><![CDATA[WIXUI_SERVERNAME = ""]]></Condition>
          <Condition Action="enable"><![CDATA[WIXUI_SERVERNAME <> ""]]></Condition>
        </Control>
        <Control Id="Cancel" Type="PushButton" X="304" Y="243" Width="56" Height="17" Cancel="yes" Text="!(loc.WixUICancel)">
          <Publish Event="SpawnDialog" Value="CancelDlg">1</Publish>
        </Control>
      </Dialog>-->

      <TextStyle Id="WixUI_Font_Normal" FaceName="Tahoma" Size="8" />
      <TextStyle Id="WixUI_Font_Bigger" FaceName="Tahoma" Size="12" />
      <TextStyle Id="WixUI_Font_Title" FaceName="Tahoma" Size="9" Bold="yes" />

      <Property Id="DefaultUIFont" Value="WixUI_Font_Normal" />
      <Property Id="WixUI_Mode" Value="InstallDir" />

      <DialogRef Id="BrowseDlg" />
      <DialogRef Id="DiskCostDlg" />
      <DialogRef Id="ErrorDlg" />
      <DialogRef Id="FatalError" />
      <DialogRef Id="FilesInUse" />
      <DialogRef Id="MsiRMFilesInUse" />
      <DialogRef Id="PrepareDlg" />
      <DialogRef Id="ProgressDlg" />
      <DialogRef Id="ResumeDlg" />
      <DialogRef Id="UserExit" />

      <Publish Dialog="BrowseDlg" Control="OK" Event="DoAction" Value="WixUIValidatePath" Order="3">1</Publish>
      <Publish Dialog="BrowseDlg" Control="OK" Event="SpawnDialog" Value="InvalidDirDlg" Order="4"><![CDATA[WIXUI_INSTALLDIR_VALID<>"1"]]></Publish>

      <Publish Dialog="ExitDialog" Control="Finish" Event="EndDialog" Value="Return" Order="999">1</Publish>

      <Publish Dialog="WelcomeDlg" Control="Next" Event="NewDialog" Value="LicenseAgreementDlg">NOT Installed</Publish>
      <Publish Dialog="WelcomeDlg" Control="Next" Event="NewDialog" Value="VerifyReadyDlg">Installed AND PATCH</Publish>

      <Publish Dialog="LicenseAgreementDlg" Control="Back" Event="NewDialog" Value="WelcomeDlg">1</Publish>
      <!--<Publish Dialog="LicenseAgreementDlg" Control="Next" Event="NewDialog" Value="ProductServerDlg">LicenseAccepted = "1"</Publish>

      <Publish Dialog="ProductServerDlg" Control="Back" Event="NewDialog" Value="LicenseAgreementDlg">1</Publish>
      <Publish Dialog="ProductServerDlg" Control="Next" Event="NewDialog" Value="InstallDirDlg"><![CDATA[WIXUI_SERVERNAME <> ""]]></Publish>
      
      <Publish Dialog="InstallDirDlg" Control="Back" Event="NewDialog" Value="ProductServerDlg">1</Publish>-->

      <Publish Dialog="LicenseAgreementDlg" Control="Next" Event="NewDialog" Value="InstallDirDlg">LicenseAccepted = "1"</Publish>

      <Publish Dialog="InstallDirDlg" Control="Back" Event="NewDialog" Value="LicenseAgreementDlg">1</Publish>

      <Publish Dialog="InstallDirDlg" Control="Next" Event="SetTargetPath" Value="[WIXUI_INSTALLDIR]" Order="1">1</Publish>
      <Publish Dialog="InstallDirDlg" Control="Next" Event="DoAction" Value="WixUIValidatePath" Order="2">NOT WIXUI_DONTVALIDATEPATH</Publish>
      <Publish Dialog="InstallDirDlg" Control="Next" Event="SpawnDialog" Value="InvalidDirDlg" Order="3"><![CDATA[NOT WIXUI_DONTVALIDATEPATH AND WIXUI_INSTALLDIR_VALID<>"1"]]></Publish>
      <Publish Dialog="InstallDirDlg" Control="Next" Event="NewDialog" Value="VerifyReadyDlg" Order="4">WIXUI_DONTVALIDATEPATH OR WIXUI_INSTALLDIR_VALID="1"</Publish>
      <Publish Dialog="InstallDirDlg" Control="ChangeFolder" Property="_BrowseProperty" Value="[WIXUI_INSTALLDIR]" Order="1">1</Publish>
      <Publish Dialog="InstallDirDlg" Control="ChangeFolder" Event="SpawnDialog" Value="BrowseDlg" Order="2">1</Publish>

      <Publish Dialog="VerifyReadyDlg" Control="Back" Event="NewDialog" Value="InstallDirDlg" Order="1">NOT Installed</Publish>
      <Publish Dialog="VerifyReadyDlg" Control="Back" Event="NewDialog" Value="MaintenanceTypeDlg" Order="2">Installed AND NOT PATCH</Publish>
      <Publish Dialog="VerifyReadyDlg" Control="Back" Event="NewDialog" Value="WelcomeDlg" Order="2">Installed AND PATCH</Publish>

      <Publish Dialog="MaintenanceWelcomeDlg" Control="Next" Event="NewDialog" Value="MaintenanceTypeDlg">1</Publish>

      <Publish Dialog="MaintenanceTypeDlg" Control="RepairButton" Event="NewDialog" Value="VerifyReadyDlg">1</Publish>
      <Publish Dialog="MaintenanceTypeDlg" Control="RemoveButton" Event="NewDialog" Value="VerifyReadyDlg">1</Publish>
      <Publish Dialog="MaintenanceTypeDlg" Control="Back" Event="NewDialog" Value="MaintenanceWelcomeDlg">1</Publish>

      <Property Id="ARPNOMODIFY" Value="1" />
    </UI>
  </Fragment>
</Wix>